*.acn
**.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.ffs
*.glo
*.ist
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.aux
*.fls
*.aux
*.sublime-project
*.lot
*.aux
chapters/chapter1_theory/theory.aux
refs.aux
thesis.sublime-workspace
thesisParrish.lof
chapters/chapter1_theory/images/YRHXS3_BR_fig33-eps-converted-to.pdf
chapters/chapter1_theory/images/YRHXS3_BR_fig34-eps-converted-to.pdf
chapters/chapter1_theory/.DS_Store
chapters/chapter0_introduction/.DS_Store
thesisParrish_experiment_and_simulation.pdf
Syst_Yields.xlsx
thesisParrish.loa
chapters/chapter6_HPlus/.DS_Store
chapters/.DS_Store
.DS_Store
