*.acn
**.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.ffs
*.glo
*.ist
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.aux
*.fls
*.aux
*.sublime-project
*.lot
*.aux
chapters/chapter1_theory/theory.aux
refs.aux
thesis.sublime-workspace
thesisParrish.lof
